ion-title{
    margin: 0;
    height: 100%;
    font-weight: 300;
    font-size: 1em;
}
ion-title ion-label{
    font-size: large;
    font-weight: 500;
    letter-spacing: .05em
}
ion-content{
    margin: .5em;
}
.date{
    margin: 1em 0em;
    --inner-border-width: 0;
}
.date h2{
    font-weight: 400;
}
.text{
    font-family: 'Muli', serif;
    line-height: 1.3em;
}