ion-item{
    margin: auto;
}
.w-100{
    margin: 2em auto;
    display: flex;
    width: 70vw;
    text-transform: none;
}
ion-button{
    margin: 1em auto;
    letter-spacing: 0em;
    font-weight: 500;
    text-transform: none;
    display: grid;
    justify-content: center;
}
ion-icon{
    margin:auto;
    font-size: 1.3em;
}