<ion-content padding>
<div>
  <img src="../../assets/logo.png" alt="Logo">
  <form [formGroup]="loginForm" novalidate>

    <ion-item>
      <ion-label color="#424242" position="floating">Email</ion-label>
      <ion-input formControlName="email" #email type="email"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of error_messages.email">
        <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        #password
        [type]="hide ? 'password' : 'text'" 
        formControlName="password" 
        type="password">
      </ion-input>
      <ion-icon slot="end" name="{{hide ? 'eye-off' : 'eye'}}" (click)="hide = !hide"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of error_messages.password">
        <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button [disabled]=!loginForm.valid shape="round" expand="block" routerDirection="forward" (click)="login(email.value, password.value)">
      <ion-ripple-effect></ion-ripple-effect>
      Submit
    </ion-button>
  </form>
</div>
<ion-button
  color="danger"
  style="text-transform: none;" 
  fill="clear" 
  expand="block" 
  routerDirection="forward" 
  routerlink="register"
  (click)="register()"
>Registration
</ion-button>
</ion-content>
