<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Edit
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input value="{{data.title}}" #title placeholder="Type your title" clearInput></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="stacked">Post</ion-label>
    <ion-textarea rows="8" value="{{data.text}}" #post placeholder="Type your post" clearInput></ion-textarea>
  </ion-item>
  <ion-button *ngIf="data.files.length < 3" (click)="openActionSheet()" color="success">
    <ion-label><span style="margin-right: 1em;">Add Files</span></ion-label>
    <ion-icon name="attach"></ion-icon>
  </ion-button>
  <ion-card>
    <p *ngIf="data.files.length < 1">Downloaded files here...</p>
    <ion-chip *ngFor="let file of data.files; let i = index" outline color="primary" (click)="deleteFile(i)">
        <ion-icon name={{file.icon}}></ion-icon>  
      <ion-label>{{file.title}}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-card>
  <ion-item>
    <ion-label position="stacked">Tags</ion-label>
    <ion-input #tag ></ion-input>
  </ion-item>
  <ion-button *ngIf="data.tags.length < 5" fill="solid" color="success" (click)="addTag(tag.value)">
    <ion-label><span style="margin-right: 1em;">Add Tag</span></ion-label>
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>
  <ion-card>
    <ion-chip 
      *ngFor="let tag of data.tags; let i = index"
      outline 
      color="primary"
      (click)="deleteTag(i)">
      <ion-label>{{tag}}</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-card>

  <ion-button class="w-100" routerLink="" routerDirection="forward" (click)="updatePost(title.value, post.value)">
    <ion-ripple-effect></ion-ripple-effect>
    Submit
  </ion-button>
  
</ion-content>